@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --background-color-white: #fff;
  --background-color-white-2: #f8f8f8;
  --background-color-white-3: #f7f1e5;
  --background-color-white-4: #eee;
  --background-color-white-5: #e5e3df;
  --background-color-gray: #ffffff91;
  --background-color-gray-2: #808080;
  --background-color-black: #00000073;
  --background-color-red: #ae4248;
  --background-color-red-2: #a1232a;
  --background-color-red-3: #8b1e24;
  --text-color-white: #fff;
  --text-color-white-2: #cab7b1;
  --text-color-gray: #b2b2b2;
  --text-color-gray-2: #666;
  --text-color-gray-3: #515255;
  --text-color-gray-4: #3f3f3f;
  --text-color-gray-5: #393a3c;
  --text-color-gray-6: #333;
  --text-color-black: #000;
  --text-color-blue: #0000ee;
  --text-color-purple: #551a8b;
  --text-color-red: #a1232a;
  --border-color-white: #fff;
  --border-color-gray: #d6d6d7;
  --border-color-gray-2: #636363;
  --border-color-gray-3: #3f3f3f;
  --border-color-white-2: #cab7b1;
  --border-color-blue: #1a73e8;
  --border-color-black: #000;
  --font-family: 'Open Sans', sans-serif;
  --header-height: 70px;
  --list-margin: 20px;
  --list-padding: 30px;
  --section-margin:30px; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

/*! formalize.css | MIT License | github.com/interacthings/formalize */
*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle; }

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
form {
  margin: 0; }

button,
fieldset,
iframe {
  border: 0; }

fieldset,
ul,
ol,
button,
menu {
  padding: 0; }

ol,
ul {
  list-style: none; }

textarea {
  resize: vertical; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0; }

body {
  font-family: var(--font-family); }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.header-measure {
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px; }
  @media (min-width: 992px) {
    .header-measure {
      padding: 0px; } }

header {
  z-index: 5;
  position: fixed;
  top: 0px;
  background: var(--background-color-white-4);
  height: var(--header-height);
  width: 100%; }
  header nav {
    margin-left: auto;
    display: none; }
    @media (min-width: 992px) {
      header nav {
        display: block; } }
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center; }
      header nav ul li {
        margin-right: var(--list-margin); }
        header nav ul li a {
          font-size: 0.8em;
          text-transform: uppercase;
          font-weight: 700;
          color: var(--text-color-gray-3);
          transition: 0.3s all ease; }
          header nav ul li a:hover {
            color: var(--text-color-red); }
  header .mobile-menu {
    margin-left: auto;
    display: block; }
    header .mobile-menu a.mobil-menu-cta {
      margin-right: 15px;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 700;
      color: var(--text-color-gray-3);
      transition: 0.3s all ease; }
      header .mobile-menu a.mobil-menu-cta:hover {
        color: var(--text-color-red); }
    header .mobile-menu-list {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 310px;
      height: 100vh;
      z-index: 99999;
      padding: 10px var(--list-padding);
      background: var(--background-color-white-2); }
      header .mobile-menu-list a.menu-close-cta {
        position: absolute;
        top: 20px;
        right: 20px; }
        header .mobile-menu-list a.menu-close-cta svg {
          width: 12px;
          height: 12px; }
      header .mobile-menu-list li {
        margin-bottom: calc(var(--list-margin) * 1.5); }
        header .mobile-menu-list li a {
          display: block;
          font-size: 1.3em;
          font-weight: 700;
          text-transform: uppercase;
          color: var(--text-color-red);
          transition: 0.3s all ease; }
          header .mobile-menu-list li a:hover {
            color: black;
            font-size: 1.4em; }
          header .mobile-menu-list li a.logo-link {
            margin-bottom: calc(var(--list-margin) * 2.5); }
          header .mobile-menu-list li a svg {
            height: 24px;
            width: 24px; }
        header .mobile-menu-list li ul.social-media {
          margin-top: 80px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center; }
          header .mobile-menu-list li ul.social-media li {
            margin-right: 20px;
            margin-bottom: 20px; }
            header .mobile-menu-list li ul.social-media li a svg {
              height: 24px;
              width: 24px; }
    @media (min-width: 992px) {
      header .mobile-menu {
        display: none; } }

.user-menu {
  display: block;
  border-left: 1px solid var(--border-color-gray-3); }
  .user-menu ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--list-margin); }
    .user-menu ul li {
      margin-right: var(--list-margin); }
      .user-menu ul li:last-child {
        margin-right: 0px; }
      .user-menu ul li a svg {
        width: 12px;
        height: 12px;
        fill: var(--text-color-gray-3);
        transition: 0.3 all ease; }
        .user-menu ul li a svg:hover {
          fill: var(--text-color-red); }
  .user-menu form {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color-white-2);
    z-index: 99999;
    background: var(--background-color-white-4); }
    .user-menu form div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: 100%; }
      .user-menu form div input[type='text'] {
        width: 100%;
        height: var(--header-height);
        border: none;
        outline: none;
        padding-left: 24px;
        font-size: 1.7em;
        color: var(--text-color-gray-2);
        background: inherit; }
      .user-menu form div button {
        cursor: pointer;
        padding: 0px 12px; }
        .user-menu form div button svg {
          width: 36px;
          height: 36px; }

.hero-measure {
  max-width: 1200px;
  margin: 0px auto; }

.row {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  @media (min-width: 992px) {
    .row {
      flex-direction: row; } }
  .row .block1,
  .row .block2 {
    flex: 1; }

.list-row {
  display: flex;
  flex-flow: row nowrap; }

section.hero {
  margin-top: var(--header-height);
  background: var(--background-color-gray); }
  section.hero figure {
    position: relative; }
    section.hero figure img {
      width: 100%;
      height: 400px; }
      @media (min-width: 992px) {
        section.hero figure img {
          height: 100%; } }
    section.hero figure figcaption {
      text-align: center;
      width: 100%;
      max-width: 850px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
      section.hero figure figcaption h1 {
        color: var(--text-color-white);
        line-height: 1em;
        text-transform: capitalize;
        font-size: 2.2em; }
        @media (min-width: 992px) {
          section.hero figure figcaption h1 {
            font-size: 4em; } }
    section.hero figure a.hero-btn {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      animation-name: down-up;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate; }
      section.hero figure a.hero-btn svg {
        width: 36px;
        height: 36px;
        fill: #fff; }

section.hero-sub {
  padding: 30px 0px; }
  section.hero-sub p.hero-sub-text {
    font-size: 1.7em;
    text-align: center;
    line-height: 1.6em;
    font-weight: 400;
    color: var(--text-color-gray-2); }

section.banner {
  margin: 30px 0px;
  background: var(--background-color-white-2);
  margin-bottom: 0px; }
  section.banner figure {
    position: relative; }
    section.banner figure img {
      width: 100%;
      height: 400px; }
      @media (min-width: 992px) {
        section.banner figure img {
          height: 100%; } }
    section.banner figure figcaption {
      text-align: center;
      width: 100%;
      max-width: 850px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
      section.banner figure figcaption h2 {
        font-size: 2.1em;
        margin-bottom: 20px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: var(--text-color-gray-4); }
      section.banner figure figcaption p {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 20px; }
      section.banner figure figcaption a.banner-read-more {
        margin-top: 15px;
        display: inline-block;
        font-size: 1rem;
        padding: 1em 2.5em;
        border: 2px solid var(--border-color-black);
        border-radius: 5px;
        color: var(--text-color-black);
        text-transform: uppercase;
        transition: 0.5s all ease; }
        section.banner figure figcaption a.banner-read-more:hover {
          border-color: var(--border-color-gray-2);
          background: var(--background-color-gray-2);
          color: var(--text-color-white); }

section.customer-info {
  background: var(--background-color-white-2);
  text-align: center;
  height: 600px; }
  section.customer-info div h2 {
    padding: 40px 0px;
    font-size: 2.1em;
    color: var(--text-color-gray-4);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  section.customer-info div p {
    font-size: 1.1em; }
    section.customer-info div p.sub-title {
      margin-bottom: 40px; }

section.post figure {
  position: relative; }
  section.post figure img {
    width: 100%;
    height: 600px; }
    @media (min-width: 992px) {
      section.post figure img {
        height: 100%; } }
  section.post figure figcaption {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 10px;
    padding: 8px; }
    @media (min-width: 992px) {
      section.post figure figcaption {
        font-size: 16px;
        padding: 50px; }
        section.post figure figcaption h3 {
          font-size: 1.2em; }
        section.post figure figcaption h4 {
          font-size: 2.5em; }
        section.post figure figcaption p {
          font-size: 1.8em; }
        section.post figure figcaption a.read-more-btn {
          font-size: 1em; } }
    @media (min-width: 1200px) {
      section.post figure figcaption {
        padding: 120px; } }
    section.post figure figcaption h3 {
      font-size: 1em;
      margin-bottom: 1em;
      text-transform: uppercase;
      color: #fff; }
    section.post figure figcaption h4 {
      font-size: 2.2em;
      color: #fff;
      margin-bottom: 1em; }
      section.post figure figcaption h4 a:hover {
        text-decoration: underline; }
    section.post figure figcaption p {
      margin-bottom: 1em;
      font-size: 1.4em;
      color: #fff; }
      section.post figure figcaption p a:hover {
        text-decoration: underline; }
    section.post figure figcaption a.read-more-btn {
      display: inline-block;
      margin-top: 1em;
      margin-bottom: 40px;
      font-size: 1em;
      padding: 1.2em 3.5em;
      color: #fff;
      border: 2px solid var(--border-color-white);
      border-radius: 5px;
      text-transform: uppercase;
      transition: 0.5s all ease; }
      section.post figure figcaption a.read-more-btn:hover {
        background: var(--background-color-white);
        color: var(--text-color-black); }

section.post-list {
  width: 100%;
  height: 100%; }
  @media (min-width: 1200px) {
    section.post-list {
      padding: 50px 120px; } }
  section.post-list h3 {
    font-size: 1.6em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--text-color-black); }
  section.post-list li {
    margin-bottom: 40px; }
    section.post-list li:last-child {
      margin-bottom: 0px; }
  section.post-list .img-company {
    margin-right: 20px; }
  section.post-list .news-feature-title a {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 25px;
    color: var(--text-color-gray-3); }
    section.post-list .news-feature-title a:hover {
      text-decoration: underline; }
  section.post-list .news-feature-description a {
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 20px;
    color: var(--text-color-gray); }
    section.post-list .news-feature-description a:hover {
      text-decoration: underline; }
  section.post-list .news-feature-time a {
    display: inline-block;
    font-size: 0.8em;
    color: var(--text-color-gray); }
    section.post-list .news-feature-time a:hover {
      text-decoration: underline; }
  section.post-list .full-post {
    margin-top: 40px; }
    section.post-list .full-post a.view-all-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      padding: 0px 12px; }
      @media (min-width: 992px) {
        section.post-list .full-post a.view-all-btn {
          padding: 0px; } }
      section.post-list .full-post a.view-all-btn span {
        padding-right: 12px; }

@keyframes down-up {
  from {
    bottom: 5%; }
  to {
    bottom: 8%; } }

.footer-measure {
  max-width: 1200px;
  margin: 0px auto; }

.footer-main-measure {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

footer[role='nav'] {
  padding: 50px 0px;
  background: var(--background-color-red-2);
  color: var(--text-color-white);
  font-size: 1rem; }
  footer[role='nav'] ul.footer-nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px; }
    @media (min-width: 992px) {
      footer[role='nav'] ul.footer-nav-list {
        padding: 0px; } }
    footer[role='nav'] ul.footer-nav-list li {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 200px;
      margin-bottom: 10px; }
      footer[role='nav'] ul.footer-nav-list li ul {
        margin-top: 20px; }
      footer[role='nav'] ul.footer-nav-list li a {
        font-size: 0.8em;
        font-weight: 400; }
      footer[role='nav'] ul.footer-nav-list li h4 {
        margin-bottom: 15px;
        margin-top: 20px;
        font-size: 1.1em;
        text-transform: uppercase; }
      footer[role='nav'] ul.footer-nav-list li p {
        font-size: 0.8em;
        margin: 20px 0px; }
        footer[role='nav'] ul.footer-nav-list li p a {
          display: inline-block;
          font-size: 0.9em;
          font-weight: 700;
          margin: 5px 0px; }
      footer[role='nav'] ul.footer-nav-list li ul.social-media {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        footer[role='nav'] ul.footer-nav-list li ul.social-media li a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #fff;
          padding: 8px;
          border-radius: 50%;
          transition: 0.5s all ease; }
          footer[role='nav'] ul.footer-nav-list li ul.social-media li a svg {
            width: 24px;
            height: 24px; }
          footer[role='nav'] ul.footer-nav-list li ul.social-media li a:hover {
            background: #fff; }
            footer[role='nav'] ul.footer-nav-list li ul.social-media li a:hover svg {
              fill: var(--background-color-red-2); }
      footer[role='nav'] ul.footer-nav-list li .input-wrapper {
        display: flex;
        padding: 8px 19px;
        border-radius: 50px;
        background: var(--background-color-red); }
        footer[role='nav'] ul.footer-nav-list li .input-wrapper input[type='text'] {
          flex: 1;
          background: none;
          outline: none;
          border: none;
          font-size: 0.8em;
          color: var(--text-color-white-2);
          font-weight: 400; }
          footer[role='nav'] ul.footer-nav-list li .input-wrapper input[type='text']::placeholder {
            color: inherit;
            opacity: 0.8; }
        footer[role='nav'] ul.footer-nav-list li .input-wrapper button[type='button'] {
          background: none;
          display: inline-flex;
          justify-content: center;
          border: none;
          outline: none;
          cursor: pointer; }
          footer[role='nav'] ul.footer-nav-list li .input-wrapper button[type='button'] svg {
            fill: #fff; }
  footer[role='nav'] .company-logo ul {
    display: flex;
    border-bottom: 1px solid var(--border-color-white);
    padding-bottom: 8px; }
    footer[role='nav'] .company-logo ul:last-child {
      border-bottom: none; }
      footer[role='nav'] .company-logo ul:last-child img {
        width: 90px;
        height: auto; }
    footer[role='nav'] .company-logo ul li {
      margin: 20px 20px 10px 0px; }
      footer[role='nav'] .company-logo ul li:last-child {
        margin-right: 0px; }
      footer[role='nav'] .company-logo ul li img {
        width: 120px;
        height: auto; }

footer[role='main'] {
  padding: 20px 0px;
  text-align: center;
  background: var(--background-color-red-3);
  color: var(--text-color-white-2); }
  footer[role='main'] .copy-right {
    font-size: 0.8em;
    margin-bottom: 8px; }
  footer[role='main'] ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    footer[role='main'] ul li {
      margin-right: 20px;
      padding-left: 20px;
      border-left: 1px solid var(--text-color-white-2); }
      footer[role='main'] ul li:first-child {
        border: none;
        padding-left: 0px; }
      footer[role='main'] ul li a {
        display: inline-flex;
        font-size: 0.8em; }
