@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  --background-color-white: #fff;

  --background-color-white-2: #f8f8f8;
  --background-color-white-3: #f7f1e5;
  --background-color-white-4: #eee;
  --background-color-white-5: #e5e3df;
  --background-color-gray: #ffffff91;
  --background-color-gray-2: #808080;
  --background-color-black: #00000073;
  --background-color-red: #ae4248;
  --background-color-red-2: #a1232a;
  --background-color-red-3: #8b1e24;

  --text-color-white: #fff;
  --text-color-white-2: #cab7b1;
  --text-color-gray: #b2b2b2;
  --text-color-gray-2: #666;
  --text-color-gray-3: #515255;
  --text-color-gray-4: #3f3f3f;
  --text-color-gray-5: #393a3c;
  --text-color-gray-6: #333;
  --text-color-black: #000;
  --text-color-blue: #0000ee;
  --text-color-purple: #551a8b;
  --text-color-red: #a1232a;

  --border-color-white: #fff;
  --border-color-gray: #d6d6d7;
  --border-color-gray-2: #636363;
  --border-color-gray-3: #3f3f3f;
  --border-color-white-2: #cab7b1;
  --border-color-blue: #1a73e8;
  --border-color-black: #000;

  --font-family: 'Open Sans', sans-serif;

  --header-height: 70px;
  --list-margin: 20px;
  --list-padding: 30px;
}
